/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  color: #333
}


/* Container */

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  width: 100%;
}

/* navbar */

.nav {
  background-color: #fbf5f1;
  width: 100%;
  padding: 0.938rem;

}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
}

.nav_logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: #2B1B12;
  text-decoration: none;
}

.nav_navbar {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.nav_ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  margin-right: 2.5rem;
}

.nav_link {
  text-decoration: none;
  color: #2B1B12;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;

}

.nav_link .nav_link:hover {
  color: #333;
}

.nav_navbar img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0
}

/* Button */
.btn {

  background-color: #2B1B12;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1rem;

}

.btn:hover {
  background-color: #2B1B12;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
}

.hero_content {
  flex: 1;
  padding-right: 2rem;
  text-align: left;
}

.hero_content h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.hero_content p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.hero img {
  flex: 1;
  max-width: 70%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: flex-end;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #2B1B12;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2B1B12;
}


@media only screen and (min-width: 45rem) {

  /* navbar */

  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
  }

  .nav_logo {
    font-size: 1.75rem;
    font-weight: 700;
    color: #2B1B12;
    text-decoration: none;
  }

  .nav_navbar {
    align-items: center;
    gap: 1.875rem;
  }

  .nav_ul {
    gap: 2.5rem;
    margin-right: 2.5rem;
  }

  .nav_link {
    font-size: 1rem;
  }

  .nav_navbar img {
    margin: 0
  }

  /* Button */
  .btn {
    padding: 0.75rem 1.5rem;
  }

  /* banner */

  .hero {
    flex-direction: column;
    padding: 1.25rem;
  }

  .hero_content {
    padding-right: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  .hero_content h1 {
    font-size: 5rem;
  }

  .hero img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 60rem) {
  .hero {
    padding: 1.5rem;
  }

  .hero_content h1 {
    font-size: 5rem;
  }
}